# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
.DS_Store

# Ignore IDE-specific files
.vscode/
.idea/